.add-patient-appointment {
  .patient-details {
    .row {
      display: flex;
      height: 35px;
      margin-bottom: 18px;

      & > * {
        width: 560px;

        display: flex;
        & > * {
          align-items: center;
        }
      }

      .label {
        width: 140px;
        display: flex;
      }

      .name {
        margin-left: 8px;
        width: 280px;
      }

      .gender-radio-group {
        display: flex;
      }

      .age {
        width: 132px;
        margin-right: 10px;
      }

      .dob,
      .date,
      .phone {
        width: 200px;
      }
    }

    .address {
      display: flex;

      .label {
        display: flex;
        align-items: center;
        width: 140px;
        height: 35px;
      }
      .address-input {
        flex-grow: 1;
        input,
        select {
          height: 35px;
          width: 365px;
          margin-bottom: 18px;
          margin-right: 20px;
        }

        .street {
          display: block;
          width: 760px;
        }
      }
    }
  }

  .medical-scan-details {
    width: 100%;
  }
}

.medical-scan-details-search {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 20px;

  * > .label {
    margin-right: 8px;
  }

  .select {
    width: 200px;
    display: inline-block;
  }

  .discount {
    input {
      width: 100px;
    }
  }

  .add-button {
    width: 100px;
  }
}

.medical-scan-table {
  width: 100%;
  margin: 25px 0;
  border-collapse: collapse;
  border-top: 1px solid black;
  text-align: center;

  th,
  td {
    padding: 16px;
    border-bottom: 1px solid lightgray;
  }

  .empty {
    padding: 10px 0;
    color: blue;
  }
}
